
<mat-grid-list cols=2>
        <mat-grid-tile >
            <mat-grid-tile-header>Owned Archives</mat-grid-tile-header>
            <mat-list >
                <mat-list-item *ngFor="let ownedArchive of ownedArchives">
                    <div class="full">
                        <p class="inline ellipse"><span>{{ ownedArchive }}</span></p>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-grid-tile-header>Needed Archives</mat-grid-tile-header>
            <mat-list >
                <mat-list-item *ngFor="let neededArchive of neededArchives">
                    <div class="full">
                        <p class="inline ellipse"><span>{{ neededArchive }}</span></p>
                    </div>
                    <mat-divider></mat-divider>
                </mat-list-item>
            </mat-list>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="messages">
        <p *ngIf="purchaseN" class="error">Something went wrong</p>
        <p *ngIf="purchaseS" class="success">Archives successfully purchased</p>
    </div>
    <div class="buttons">
        <button mat-raised-button class="cancelBtn"  type="button" (click)=cancel()>CANCEL</button>
        <button mat-raised-button class="confirmBtn" type="button" (click)=purchase()>PURCHASE</button>
    </div>
    